<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head>
<body>

</body>

<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% block 'head' %} {% endblock %}
    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>
  <body style="background-color:#E3F6CE">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gerenciamento de Atendimentos</a>
        <a class="navbar-brand" href="#">|</a>
        <a class="navbar-brand" href="#">Bem vindo, {{ user.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-2 my-lg-0 " method="POST" action="{% url 'sair' %}"> {% csrf_token %}
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Sair</button>
            </form>
          </div>
    </nav>

<br>

<h2 align="center" style="color:DarkSlateGray">Pendências</h2>

<div class="container mt-4">
    <h1>Lista de Atendimentos</h1>
    <hr>
    {% if atendimentos %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Equipamento</th>
                <th>Problema</th>
                <th>Status</th>
                <th>Prazo</th>
                <th>Urgência</th>
            </tr>
        </thead>
        <tbody>
            {% for atendimento in atendimentos %}
            <tr>
                <td>{{ atendimento.empresa }}</td>
                <td>{{ atendimento.equipamento }}</td>
                <td>{{ atendimento.problema }}</td>
                <td>{{ atendimento.status }}</td>
                <td>{{ atendimento.prazo }}</td>
                <td>{{ atendimento.urgencia }}</td>
            </tr>
            {% endfor %}
            {% if user.is_authenticated %}
              <h1>Olá, {{ user.username }}!</h1>
              <p>Você está logado.</p>
            {% else %}
                <h1>Olá, Convidado!</h1>
                <p>Por favor, faça login para continuar.</p>
            {% endif %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhum atendimento encontrado.</p>
    {% endif %}
</div>

  {% include "footer.html" %}
