<footer align="center">
    <br>
    <br>
    <br>
    <br>

    <h5 class="contatos_1">Contatos</h5>
    <li>
        <a href="mailto:luiz.fernando_1990@hotmail.com">luiz.fernando_1990@hotmail.com</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/luiz-fernando-durval-de-oliveira-5882151a3" target="_blank">LinkeIn</a>
    </li>
    <li>
        <a href="https://github.com/luizfernandoliveira" target="_blank">Github</a>
    </li>
    <li>
        <a href="tel:(12)99786-1401">(12)99786-1401</a>
    </li>
</footer>
<br>
<p align="center">2022 | Desenvolvido por Fernando</p>