<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% block 'head' %} {% endblock %}
    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>
  <body style="background-color:#E3F6CE">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gerenciamento de Atendimentos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-2 my-lg-0 " method="POST" action="{% url 'login' %}"> {% csrf_token %}
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
            </form>
          </div>
    </nav>

<br>
<h2 align="center" style="color:DarkSlateGray">Pendências</h2>
<br>
<h5  align="center" style="color:red">Inserir lista de pendências de atendimento do prazo mais curto para o maior.</h5>
<br>
<form class="form-inline my-2 my-lg-0 " method="POST" action="{% url 'cadastro_empresa' %}"> {% csrf_token %}
    <button class="btn btn-primary my-2 my-sm-2" type="submit">      Cadastro de Empresa     </button>
</form>
<form class="form-inline my-2 my-lg-0 " method="POST" action="{% url 'cadastro_equipamento' %}"> {% csrf_token %}
    <button class="btn btn-primary my-2 my-sm-2" type="submit">Cadastro de Equipamentos</button>
</form>


  {% include "footer.html" %}

